@font-face {
    font-family: 'fl-icons';
    src: url('fl-icons.woff2') format('woff2'),
        url('fl-icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fl-icons';
    src: url('fl-icons.woff2') format('woff2'),
        url('fl-icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fl-icons';
    src: url('fl-icons.woff2') format('woff2'),
        url('fl-icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-Gotham.woff2') format('woff2'),
        url('SVN-Gotham.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-Gotham.woff2') format('woff2'),
        url('SVN-Gotham.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamBold.woff2') format('woff2'),
        url('SVN-GothamBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-Gotham.woff2') format('woff2'),
        url('SVN-Gotham.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamBold.woff2') format('woff2'),
        url('SVN-GothamBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Book';
    src: url('SVN-GothamBook.woff2') format('woff2'),
        url('SVN-GothamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Book';
    src: url('SVN-GothamBook.woff2') format('woff2'),
        url('SVN-GothamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Book';
    src: url('SVN-GothamBook.woff2') format('woff2'),
        url('SVN-GothamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('SVN-GothamBold.woff2') format('woff2'),
        url('SVN-GothamBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

